@page "{order_id}"
@model Blessed_Party.Pages.OrderAndPaymentModel
@using System.Globalization;
@{
    ViewData["Title"] = "Order and Payment";
}

<div class="card m-4 mt-1 p-3">
    <div class="card-body">
        <div class="row m-1 border-bottom pb-2 pr-0 pl-0 mb-4">
            <div class="col p-0">
                <h4 style="font-weight:bold;">Alamat</h4>
            </div>
        </div>
        @if (TempData["order_status"] != null)
        {
            @if (TempData["order_status"].ToString() == "0")
            {
                <div class="row ml-1">
                    <div class="col">
                        <div class="row mb-1">
                            <div class="col">
                                <input value="1" style="display:inline;" class="form-check-input mr-2" type="radio" name="alamat" id="alamat_sekarang" onchange="checkboxChange1(this);" checked>
                                <label class="form-check-label" for="alamat_sekarang">Saya ingin menggunakan alamat yang ada</label>
                            </div>
                        </div>
                        <div class="row mb-2" id="alamatSekarangDdl">
                            <div class="col-sm-6">
                                @{ string city = "";}
                                @{ string province = "";}
                                <select class="form-control" id="ddlAlamat" onchange="changeAddress(this);">
                                    <option value="0" selected>@TempData["shipping_address"]</option>
                                    @foreach (var item in Model.tbl_AddressList)
                                    {
                                        city = Model.cityViewList.Where(x => x.city_id == item.city_id).Select(x => x.city_name).FirstOrDefault();
                                        province = Model.provinceViewList.Where(x => x.province_id == item.province_id).Select(x => x.province).FirstOrDefault();
                                        <option value="@item.address_id">@item.user_fullname - @item.user_address, @city, @province @item.user_phone</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <input value="2" style="display:inline;" class="form-check-input mr-2" type="radio" name="alamat" id="alamat_baru" onchange="checkboxChange1(this);">
                                <label class="form-check-label" for="alamat_baru">Saya ingin menggunakan alamat baru</label>
                            </div>
                        </div>
                        <form>
                            <input type="hidden" value="@int.Parse(HttpContext.User.FindFirst("sUserID")?.Value)" id="user_id" />
                            <input type="hidden" value="@TempData["order_id"]" id="order_id" />
                            <div class="row d-none" id="alamatBaruForm">
                                <div class="col">
                                    <div class="row mb-2">
                                        <div class="col-sm-1">
                                            <label>Nama <span style="color:red;">*</span></label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="userfullname" asp-for="tbl_AddressListAdd.user_fullname" placeholder="Nama Lengkap" required>
                                        </div>
                                        <div class="col-sm-1">
                                            <label>No. Telp <span style="color:red">*</span></label>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="number" class="form-control" id="userphone" asp-for="tbl_AddressListAdd.user_phone" placeholder="No. Telp" required>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-1">
                                            <label class="mr-2" style=" display: inline;">Alamat <span style="color:red">*</span></label>
                                        </div>
                                        <div class="col-sm-5">
                                            <textarea type="text" class="form-control" id="useraddress" asp-for="tbl_AddressListAdd.user_address" placeholder="Alamat" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-1">
                                            <label class="mr-2" style=" display: inline;">Kota <span style="color:red">*</span></label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select class="form-control" style="border-color:gainsboro;" id="usercity" asp-for="tbl_AddressListAdd.city_id">
                                                @foreach (var item in Model.cityViewList)
                                                {
                                                    <option value="@item.city_id">@item.city_name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="mr-2" style=" display: inline;">Provinsi <span style="color:red">*</span></label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select class="form-control" style="border-color:gainsboro;" id="userprovince" asp-for="tbl_AddressListAdd.province_id">
                                                @foreach (var item in Model.provinceViewList)
                                                {
                                                    <option value="@item.province_id">@item.province</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col float-right">
                                            <button onclick="saveAddress();" type="button" class="btn btn-success float-right">Simpan Alamat</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="row ml-1">
                    <div class="col">
                        <label>@TempData["shipping_address"]</label>
                    </div>
                </div>
            }
        }


        <div class="row m-1 mt-4 border-bottom pb-2 pr-0 pl-0 mb-4">
            <div class="col p-0">
                <h4 style="font-weight:bold;">Keranjang Belanja</h4>
            </div>
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="row">
                <div class="col">
                    <label style="color:red">@TempData["Message"]</label>
                </div>
            </div>
        }
        <!--TABLE-->
        <div class="mt-2">
            <table class="table table-bordered" id="">
                <thead class="thead-light border-secondary">
                    <tr>
                        <th class="d-none">Order ID</th>
                        <th class="d-none">Detail Order ID</th>
                        <th>Nama Produk</th>
                        <th>Banyaknya</th>
                        <th>Harga</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{ decimal total = 0; }
                    @{ decimal subtotal = 0; }
                    @foreach (var item in Model.tbl_dtl_Order)
                    {
                        <tr>
                            <td class="d-none">@item.order_id</td>
                            <td class="d-none">@item.dtl_order_id</td>
                            <td>
                                @foreach (var x in Model.tbl_Product)
                                {
                                    if (item.product_id == x.product_id)
                                    {
                                        <div style="width:80px; display:inline; height:80px; overflow:hidden" class="mr-3">
                                            <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(x.product_image))" style="width:80px" />
                                        </div>
                                    }
                                }
                                @foreach (var x in Model.tbl_Product)
                                {
                                    if (item.product_id == x.product_id)
                                    {
                                        <label style="display:inline">@x.product_name</label>
                                        break;
                                    }
                                }
                            </td>
                            <td>@item.quantity</td>
                            <td class="text-right">
                                @foreach (var x in Model.tbl_Product)
                                {
                                    if (item.product_id == x.product_id)
                                    {
                                        <label>@x.price.ToString("N2", CultureInfo.CreateSpecificCulture("en-US"))</label>
                                    }
                                }
                            </td>
                            <td class="text-right">
                                @foreach (var x in Model.tbl_Product)
                                {
                                    if (item.product_id == x.product_id)
                                    {
                                        total = x.price * item.quantity;
                                        subtotal = subtotal + (x.price * item.quantity);
                                        break;
                                    }
                                }
                                <label>@total.ToString("N2", CultureInfo.CreateSpecificCulture("en-US"))</label>
                                @{ total = 0;}
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td style="border-bottom:none; border-right:none;" colspan="2"></td>
                        <td style="border-right:none; border-left:none; border-top:none; border-bottom:none;" class="text-right">Subtotal</td>
                        <td style="border-left:none; border-top:none; border-bottom:none" class="text-right" id="subtotal_text">@subtotal.ToString("N2", CultureInfo.CreateSpecificCulture("en-US"))</td>
                    </tr>
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td style="border-bottom:none; border-top:none; border-right:none;" colspan="2"></td>
                        <td style="border:none;" class="text-right">Biaya Pengiriman</td>
                        <td style="border-left:none; border-top:none; border-bottom:none" class="text-right" id="shipping_text">@decimal.Parse(TempData["shipping_value"].ToString()).ToString("N2", CultureInfo.CreateSpecificCulture("en-US"))</td>
                    </tr>
                    @{ decimal jumlah = subtotal + decimal.Parse(TempData["shipping_value"].ToString());}
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td style="border-top:none; border-right:none;" colspan="2"></td>
                        <td style="border-right:none; border-left:none; border-top:none;" class="text-right">Jumlah</td>
                        <td style="border-left:none; border-top:none;" class="text-right" id="jumlah_text">@jumlah.ToString("N2", CultureInfo.CreateSpecificCulture("en-US")) </td>
                    </tr>
                </tfoot>
            </table>
        </div> <!-- table -->
        <input type="hidden" id="subtotal" value="@subtotal" />

        <form id="modal-order" method="post" enctype="multipart/form-data">
            <input type="hidden" name="address_id" id="address_id" />
            <div class="row mt-2">
                <div class="col">
                    <label style="font-weight:bold" class="border-bottom pb-2 mb-2">Pilih Jenis Pengiriman</label>
                </div>
            </div>

            <div class="form-group" id="pilihPengiriman">
                @{ int counter = 1;}
                @{ string firstVal = "";}
                @{ decimal firstShip = 0;}
                @if (TempData["order_status"].ToString() == "0")
                {
                    <div class="row ml-1">
                        @foreach (var item in Model.costViewList)
                        {
                            if (counter == 1)
                            {
                                firstVal = item.service;
                                firstShip = item.value;
                                <div class="form-group form-check col-sm-3">
                                    <input type="hidden" value="@item.value" id="value_@counter" />
                                    <input type="hidden" value="@item.service" id="service_@counter" />
                                    <input class="form-check-input" type="radio" name="shipping" id="shipping_@counter" onchange="checkboxChange(this);" checked>
                                    <label class="form-check-label" for="gridCheck1"><span class="font-weight-bold">JNE @item.service</span> - Rp @item.value.ToString("N2", CultureInfo.CreateSpecificCulture("en-US")) (estimasi @item.etd hari)</label>
                                </div>
                            }
                            else
                            {
                                <div class="form-group form-check col-sm-3">
                                    <input type="hidden" value="@item.value" id="value_@counter" />
                                    <input type="hidden" value="@item.service" id="value_@counter" />
                                    <input class="form-check-input" type="radio" name="shipping" id="shipping_@counter" onchange="checkboxChange(this);">
                                    <label class="form-check-label" for="gridCheck1"><span class="font-weight-bold">JNE @item.service</span> - Rp @item.value.ToString("N2", CultureInfo.CreateSpecificCulture("en-US")) (estimasi @item.etd hari)</label>
                                </div>
                            }

                            counter++;
                        }

                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <label>JNE @TempData["service"] - Rp @decimal.Parse(TempData["shipping_value"].ToString()).ToString("N2", CultureInfo.CreateSpecificCulture("en-US")) (estimasi @TempData["etd"] hari)</label>
                        </div>
                    </div>
                }

            </div>
            <input type="hidden" id="shipping_srv" value="@firstVal" name="shipping_srv" />
            <input type="hidden" id="shipping_val" value="@firstShip" name="shipping_val" />
            <div class="row mt-2">
                <div class="col">
                    <label style="font-weight:bold">Tambahkan Catatan</label>
                </div>
            </div>
            <div class="row">
                @if (TempData["order_status"].ToString() == "0")
                {
                    <div class="col">
                        <input type="text" placeholder="tambahkan catatan..." asp-for="edit_Order.order_note" class="form-control" style="height:120px; width:40%" />
                    </div>
                }
                else
                {
                    <div class="col-sm-5" style="word-break:break-word">
                        <p>
                            @TempData["catatan"]
                        </p>
                    </div>
                }
            </div>

            <div class="row mt-4">
                <div class="col">
                    <label>Informasi Pembayaran</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Silakan transfer jumlah total ke rekening bank berikut ini.</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Transfer jumlah total ke rekening bank berikut ini. : <br />
                        - BCA 1790173453 atas nama Delya. <br /><br />
                        ============================== <br /><br />
                        Pengiriman hanya dilakukan setelah kamu transfer dan konfirmasi pembayaran. <br />
                        Cantumkan order ID di berita transfer apabila memungkinkan.<br /><br />

                        Best Regards,<br />
                        Blessed Party<br />
                        Pesanan anda tidak akan kami kirim sampai kami menerima pembayaran.
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label style="font-weight:bold;">Upload Bukti Pembayaran</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (TempData["order_status"].ToString() == "0")
                    {
                        <input class="form-control p-0" style="border:none; width:90px; color:transparent; display:inline" id="proof_of_payment" type="file" name="proof_of_payment" accept=".png,.jpg,.jpeg" onchange="Pressed()" />
                        @if (TempData["fileUpload"].ToString() != "")
                        {
                            <label style="display:inline;" id="fileLabel" class="mr-2">@TempData["fileUpload"]</label>
                        }
                        else
                        {
                            <label style="display:inline;" id="fileLabel" class="mr-2">No file chosen</label>
                        }
                        <input style="display:inline" type="submit" asp-page-handler="Cancel" class="btn-secondary btn mr-2" value="BATAL" />
                        <input style="display:inline" type="submit" asp-page-handler="Order" class="btn-success btn" value="ORDER!" />
                    }
                    else if (int.Parse(TempData["order_status"].ToString()) > 0 && int.Parse(TempData["order_status"].ToString()) < 3)
                    {
                        <label style="color:green;">Anda sudah mengupload bukti pembayaran, silakan reupload jika terjadi kesalahan / tunggu proses selanjutnya jika sudah sesuai.</label>
                    }
                    else
                    {
                        <label style="color:green;">Pesanan telah selesai, silakan klik terima pesanan jika belum, dan jangan lupa order lagi ya!</label>
                    }
                </div>
            </div>
            <input type="hidden" id="weight" name="weight" value="@TempData["weight"]" />

            @if (int.Parse(TempData["order_status"].ToString()) > 0 && int.Parse(TempData["order_status"].ToString()) < 4)
            {
                <div class="row">
                    <div class="col">
                        @if (int.Parse(TempData["order_status"].ToString()) < 2)
                        {
                            <input class="form-control p-0" style="border:none; width:90px; color:transparent; display:inline" id="proof_of_payment_2" type="file" name="proof_of_payment_2" accept=".png,.jpg,.jpeg" onchange="Pressed()" />
                            @if (TempData["fileUpload"].ToString() != "")
                            {
                                <label style="display:inline;" id="fileLabel" class="mr-2">@TempData["fileUpload"]</label>
                            }
                            else
                            {
                                <label style="display:inline;" id="fileLabel" class="mr-2">Upload ulang bukti pembayaran</label>
                            }
                            <input style="display:inline" type="submit" asp-page-handler="Reupload" class="btn-secondary btn mr-2" value="re-upload" />
                        }
                        <input style="display:inline" type="submit" asp-page-handler="Terima" class="btn-success btn mr-2" value="Pesanan Diterima" />
                    </div>
                </div>
            }
        </form>
    </div>
</div>
<input type="hidden" id="order_status" value="@TempData["order_status"]" />
<input type="hidden" id="service" value="@TempData["service"]" />
<input type="hidden" id="valship" value="@TempData["shipping_val"]" />
<input type="hidden" id="etd" value="@TempData["etd"]" />
<input type="hidden" id="shipping_address" value="@TempData["shipping_address"]" />
<input type="hidden" id="address_id_id" />

<script>
    $(function () {
        console.log($("#shipping_srv").val());
        console.log($("#shipping_val").val());
        $("#address_id").val($("#ddlAlamat").val());
    });

    function checkboxChange(checkbox_element) {
        if (checkbox_element.checked) {
            console.log("checked");
            var x = $(checkbox_element).prev().val();
            var y = $(checkbox_element).prev().prev().val();
            $("#shipping_srv").val(x);
            $("#shipping_val").val(y);
            console.log($("#shipping_srv").val());
            console.log($("#shipping_val").val());

            var pengiriman = $("#shipping_val").val();
            var subtotal = $("#subtotal").val();
            var jumlah = parseInt(pengiriman) + parseInt(subtotal);

            $("#shipping_text").text("Rp " + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format($("#shipping_val").val()));
            $("#jumlah_text").text("Rp " + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(jumlah));
        } else {
            console.log("unchecked");
            $("#shipping_srv").val($("#shipping_srv").val());
        }
    }

    function Pressed() {
        var a = document.getElementById('proof_of_payment');
        if (a.value == "") {
            fileLabel.innerHTML = "No File Chosen";
        }
        else {
            var theSplit = a.value.split('\\');
            fileLabel.innerHTML = theSplit[theSplit.length - 1];
        }
    }

    function checkboxChange1(element) {
        if ($(element).val() == 1) {
            $("#alamatSekarangDdl").removeClass("d-none");
            $("#alamatBaruForm").addClass("d-none");
        } else {
            $("#alamatBaruForm").removeClass("d-none");
            $("#alamatSekarangDdl").addClass("d-none");
        }
    }

    function saveAddress() {
        var alamat_sekarang = "";
        $("#pilihPengiriman").empty();
        $.ajax({
            type: "POST",
            url: "/api/OrderAndPayment/saveAddress",
            data: '{user_id: "' + $("#user_id").val() + '", order_id: "' + $("#order_id").val() + '", name: "' + $("#userfullname").val() + '", phone: "' + $("#userphone").val() + '", address: "' + $("#useraddress").val() + '", city: "' + $("#usercity").val() + '", province: "' + $("#userprovince").val() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                var counter = 1;
                var firstVal = "";
                var firstShip = 0;
                var rowAppend = '<div class="row ml-1">';
                $(response.result).each(function () {
                    console.log(response.result);
                    var msg = this.msg;
                    console.log(msg);
                    if (msg.includes("Not")) {
                        window.location.href = '/Login';
                    } else {
                        if ($("#order_status").val() == "0") {
                            console.log("0");
                            if (counter == 1) {
                                console.log("address _ id " + this.address_id);
                                $("#address_id_id").val(this.address_id);
                                firstVal = this.shipping_srv;
                                firstShip = this.shipping_val;
                                console.log(firstVal);
                                console.log(firstShip);

                                rowAppend = rowAppend + '<div class="form-group form-check col-sm-3">' +
                                    '<input type="hidden" value="' + this.shipping_val + '" id="value_' + counter + '" />' +
                                    '<input type="hidden" value="' + this.shipping_srv + '" id="service_' + counter + '" />' +
                                    '<input class="form-check-input" type="radio" name="shipping" id="shipping_' + counter + '" onchange="checkboxChange(this);" checked>' +
                                    '<label class="form-check-label" for="gridCheck1"><span class="font-weight-bold">JNE' + this.shipping_srv + '</span> - Rp ' + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(this.shipping_val) + ' (estimasi ' + this.etd + ' hari)</label>' +
                                    '</div>';
                            }
                            else {
                                rowAppend = rowAppend + '<div class="form-group form-check col-sm-3">' +
                                    '<input type="hidden" value="' + this.shipping_val + '" id="value_' + counter + '" />' +
                                    '<input type="hidden" value="' + this.shipping_srv + '" id="service_' + counter + '" />' +
                                    '<input class="form-check-input" type="radio" name="shipping" id="shipping_' + counter + '" onchange="checkboxChange(this);">' +
                                    '<label class="form-check-label" for="gridCheck1"><span class="font-weight-bold">JNE' + this.shipping_srv + '</span> - Rp ' + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(this.shipping_val) + ' (estimasi ' + this.etd + ' hari)</label>' +
                                    '</div > ';
                            }
                            counter++;

                            rowAppend = rowAppend + '</div>';
                        }
                        else {
                            console.log("1");
                            rowAppend = rowAppend + '<div class="row">' +
                                '<div class="col">' +
                                '<label>JNE ' + $("#service").val() + ' - Rp' + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format($("#valship").val()) + ' (estimasi ' + $("#etd").val() + ' hari)</label>' +
                                '</div>' +
                                '</div>';
                            return false;
                        }
                    }
                });

                $("#shipping_srv").val(firstVal);
                $("#shipping_val").val(firstShip);
                $("#pilihPengiriman").append(rowAppend);

                var pengiriman = $("#shipping_val").val();
                var subtotal = $("#subtotal").val();
                var jumlah = parseInt(pengiriman) + parseInt(subtotal);

                $("#shipping_text").text("Rp " + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format($("#shipping_val").val()));
                $("#jumlah_text").text("Rp " + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(jumlah));
            },
            error: function (response) { console.log(response); }
        });

        console.log("alamatt  " + alamat_sekarang);
        $("#ddlAlamat").empty();
        $("#ddlAlamat").append('<option value="0" selected>' + $("#shipping_address").val() + '</option>');
        $.ajax({
            type: "POST",
            url: "/api/OrderAndPayment/loadDdlAddress",
            data: '{user_id: "' + $("#user_id").val() + '", order_id: "' + $("#order_id").val() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                var counter = 1;
                var firstVal = "";
                var firstShip = 0;
                var rowAppend = '';
                $(response.result).each(function () {
                    rowAppend = rowAppend + '<option value ="' + this.address_id + '">' + this.name + ' - ' + this.address + ', ' + this.city + ', ' + this.province + '</option>';
                });
                $("#ddlAlamat").append(rowAppend);

                if ($("#address_id_id").val() != null && $("#address_id_id").val() != "") {
                    console.log($("#ddlAlamat").val());
                    $("#ddlAlamat").val($("#address_id_id").val());
                    $("#address_id").val($("#ddlAlamat").val());
                    console.log("sekarang " + $("#ddlAlamat").val());
                }
            },
            error: function (response) { console.log(response); }
        });
    }

    function changeAddress(element) {
        $("#pilihPengiriman").empty();
        $.ajax({
            type: "POST",
            url: "/api/OrderAndPayment/changeAddress",
            data: '{user_id: "' + $("#user_id").val() + '", order_id: "' + $("#order_id").val() + '", address_id: "' + $("#ddlAlamat").val() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                var counter = 1;
                var firstVal = "";
                var firstShip = 0;
                var rowAppend = '<div class="row ml-1">';
                $(response.result).each(function () {
                    console.log(response.result);
                    var msg = this.msg;
                    console.log(msg);
                    if (msg.includes("Not")) {
                        window.location.href = '/Login';
                    } else {
                        if ($("#order_status").val() == "0") {
                            console.log("0");
                            if (counter == 1) {
                                firstVal = this.shipping_srv;
                                firstShip = this.shipping_val;
                                console.log(firstVal);
                                console.log(firstShip);

                                rowAppend = rowAppend + '<div class="form-group form-check col-sm-3">' +
                                    '<input type="hidden" value="' + this.shipping_val + '" id="value_' + counter + '" />' +
                                    '<input type="hidden" value="' + this.shipping_srv + '" id="service_' + counter + '" />' +
                                    '<input class="form-check-input" type="radio" name="shipping" id="shipping_' + counter + '" onchange="checkboxChange(this);" checked>' +
                                    '<label class="form-check-label" for="gridCheck1"><span class="font-weight-bold">JNE' + this.shipping_srv + '</span> - Rp ' + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(this.shipping_val) + ' (estimasi ' + this.etd + ' hari)</label>' +
                                    '</div>';
                            }
                            else {
                                rowAppend = rowAppend + '<div class="form-group form-check col-sm-3">' +
                                    '<input type="hidden" value="' + this.shipping_val + '" id="value_' + counter + '" />' +
                                    '<input type="hidden" value="' + this.shipping_srv + '" id="service_' + counter + '" />' +
                                    '<input class="form-check-input" type="radio" name="shipping" id="shipping_' + counter + '" onchange="checkboxChange(this);">' +
                                    '<label class="form-check-label" for="gridCheck1"><span class="font-weight-bold">JNE' + this.shipping_srv + '</span> - Rp ' + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(this.shipping_val) + ' (estimasi ' + this.etd + ' hari)</label>' +
                                    '</div > ';
                            }
                            counter++;

                            rowAppend = rowAppend + '</div>';
                        }
                        else {
                            console.log("1");
                            rowAppend = rowAppend + '<div class="row">' +
                                '<div class="col">' +
                                '<label>JNE ' + $("#service").val() + ' - Rp' + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format($("#valship").val()) + ' (estimasi ' + $("#etd").val() + ' hari)</label>' +
                                '</div>' +
                                '</div>';
                            return false;
                        }
                    }
                });

                $("#shipping_srv").val(firstVal);
                $("#shipping_val").val(firstShip);
                $("#pilihPengiriman").append(rowAppend);

                var pengiriman = $("#shipping_val").val();
                var subtotal = $("#subtotal").val();
                var jumlah = parseInt(pengiriman) + parseInt(subtotal);

                $("#shipping_text").text("Rp " + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format($("#shipping_val").val()));
                $("#jumlah_text").text("Rp " + Intl.NumberFormat('en-US', { minimumFractionDigits: 2 }).format(jumlah));
                $("#address_id").val($(element).val());
            },
            error: function (response) { console.log(response); }
        });
    }
</script>
